.horizontal-div {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
}
.vertical-div {
  color: red;
  border: 1px;
  border-style: solid;
  border-color: grey;
  flex: 1;
  height: 20px;
}
div .vertical-div:hover {
  background-color: blueviolet;
}
